*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito+Sans:wght@300;400;700&display=swap');

/* .fundo{
    position: fixed;
    filter: brightness(50%);
} */

.fundo{
    position: absolute;
    background-image: url(/images/home-bg.webp);
    background-position: center center;
    background-size: cover;
    /* min-height: 500px; */
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}

.navbar-menu{
    padding: 15px 0;
    width: 100%;
    position: fixed;
    font-family: nunito, sans-serif;
    /* z-index: 5; */
}

.container{
    display: flex;
    justify-content: space-between;
    width: auto;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-logo{
    width: 88px;
}

.container li {
    display: inline-block;
    margin: 15px;
}

a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    cursor: pointer;
}

.principal{
    display: block;
    align-items: center;
    justify-content: center;
    top: 30%;
    left: 26%;
    position: absolute;
    text-align: center;
    color: white;
    font-family: nunito, sans-serif;
    transform: translateX(-50%);
    left: 50%;
}

h4{
    font-size: 20px;
    font-weight: lighter;
}

h1{
    font-size: 80px;
    margin: 15px 0;
    font-weight: lighter;
}

span{
    font-weight: bold;
}

.principal li{
    margin: 30px 20px;
    display: inline-block;
    margin: 15px;
}

#curriculo{
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 15px;
    font-family: nunito, sans-serif;
    font-weight: lighter;
    margin-top: 30px;
}

#curriculo:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}

#down{
    width: 30px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 15px;
    font-family: nunito, sans-serif;
    font-weight: lighter;
    margin-top: 70px;
}

#down:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.btn-principal{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#sobre{
    position: relative;
    background-color: white;
    top: 650px;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
}

#sobre p{
    text-align: center;
    position: center;
    width: 600px;
    display:block;
    margin: auto;
}

#sobre img{
    width: 200px;
    border-radius: 50%;
}

